@{
 
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

    <fieldset>
       Film türü seçiniz:<select id="MovieType" name="MovieType" class="form-control">

            <option value="">Please Select</option>

            <option value="0">Action</option>

            <option value="1">Drama</option>

            <option selected="selected" value="2">Comedy</option>

            <option value="3">Science Fiction</option>

        </select>

        <p><input type="submit" value="Submit" /> </p>

    </fieldset>

</form>
